* {
	box-sizing: border-box;
}

body {
	margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#back-video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid {
	width: 200px;
	height: 400px;
	background-color: rgba(255, 224, 0, 1);

	display: flex;
	flex-wrap: wrap;
	box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
}

.grid div {
	height: 20px;
	width: 20px;
}

.tetromino {
	background-color: blue;
	box-shadow: inset 0 0 5px #000000;
}

.mini-grid {
	margin-left: 50px;
	width: 80px;
	height: 80px;
	display: flex;
	flex-wrap: wrap;
	background-color: rgba(255, 224, 0, 1);
	box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
	align-self: flex-start;
}

.mini-grid div {
	height: 20px;
	width: 20px;
}

.buttons-group {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
}
